---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar';
import Container from '../components/Container.astro';
---

<Layout title="FootGoal Games">
	<main>
		<Container>
			<Navbar />
			<Card />
		</Container>
	</main>
</Layout>

<style>
	
</style>
